body {background-color:lightpink;}
#survey-form{background-color: white;
width:75%;
padding-top:35px;
margin:50px auto;
padding-bottom:50px;
display:grid;
align-items:center;
justify-items:center;
column-gap:10px;
row-gap:20px;}
